@import "reset.css";

* {
  text-align: center;
  color: #ffebcd;
}

img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
}

input {
  background: transparent;
  border: none;
  font-size: xx-large;
}

.done {
  text-decoration: line-through;
}

button {
  margin: 10px;
  border: none;
  background: transparent;
  font-size: xx-large;
}

#login-form h1 {
  font-size: 50px;
  margin-bottom: 25px;
  font-weight: 700;
}

#login-form input,
#todo-form input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 5px solid #ffebcd;
  width: 400px;
  height: 40px;
  font-size: 20px;
}

#login-form input:focus,
#todo-form input:focus {
  border-bottom: 5px solid #2e8b57;
  transition: 1s ease-in-out;
}

#login-form,
#greeting {
  margin: 50px 0px 30px 0px;
}

#greeting {
  font-size: 45px;
  font-weight: 850;
}

#clock {
  margin-top: 140px;
  font-size: 100px;
}

#famous-saying {
  position: fixed;
  top: 3%;
  font-size: 20px;
  width: 100%;
}

#weather {
  position: fixed;
  top: 94%;
  font-size: 23px;
  width: 100%;
}

#todo-list span {
  font-size: 30px;
}

#logout {
  font-weight: 900;
  cursor: pointer;
}

#bookmark {
  position: fixed;
  top: 55%;
  background-color: black;
  font-size: 50px;
}

#links {
  display: flex;
  margin-top: 500px;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

#links li {
  margin-right: 25px;
  font-size: 25px;
  font-weight: 800;
  font-family: "Courier New", Courier, monospace;
}
